        <div class="row">
            <div class="col-12">
                 <h3 class="fw-bold mb-4 border-start border-4 border-success ps-3">Eğitim & Diğer</h3>
                 <div class="glass-card p-4 mb-4">
                     <span class="badge bg-success mb-2">Önlisans</span>
                     <h5 class="fw-bold text-white" style="font-size:x-large">Bilgisayar Programcılığı</h5>
                     <p class="text-success mb-1">Bandırma Onyedi Eylül Üniversitesi</p>
                     <p class="text-secondary small">2023 - 2025</p>
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                 <div class="glass-card p-4 mb-4">
                     <span class="badge bg-success mb-2">Sertifika</span>
                     <h5 class="fw-bold text-white"><a href="https://www.linkedin.com/posts/ozan-g%C3%BCneysu-9928032b2_temel-linux-sertifika-activity-7273680198036840449-AyoA?utm_source=share&utm_medium=member_desktop&rcm=ACoAAEs52b4BKHB1UJmy09vq0_DntTG8ZZvtTLk" target="_blank">Türkcell Akademi - Geleceği Yazanlar</a></h5>
                     <p class="text-success mb-1">Temel Linux 101</a>
                     <p class="text-secondary small">2024</p>
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                 <div class="glass-card p-4 mb-4">
                     <span class="badge bg-success mb-2">Sertifika</span>
                     <h5 class="fw-bold text-white"><a href="https://www.linkedin.com/posts/ozan-g%C3%BCneysu-9928032b2_ymtban%C3%BC-yapay-zeka-ve-dijitalle%C5%9Fme-sertifikas%C4%B1-activity-7250525621234061312-cGa-?utm_source=share&utm_medium=member_desktop&rcm=ACoAAEs52b4BKHB1UJmy09vq0_DntTG8ZZvtTLk"  target="_blank">YMTBanü</a></h5>
                     <p class="text-success mb-1">Yapay Zeka ve Dijitalleşme</a>
                     <p class="text-secondary small">2024</p>
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                 <div class="glass-card p-4 mb-4">
                     <span class="badge bg-success mb-2">Sertifika</span>
                     <h5 class="fw-bold text-white"><a href="https://www.linkedin.com/posts/ozan-g%C3%BCneysu-9928032b2_sertifika-activity-7188654830712668160-MeFf?utm_source=share&utm_medium=member_desktop&rcm=ACoAAEs52b4BKHB1UJmy09vq0_DntTG8ZZvtTLk" target="_blank">YMTBanü</a></h5>
                     <p class="text-success mb-1">Veri Biliminde Kariyer Yolu</a>
                     <p class="text-secondary small">2024</p>
                 </div>
            </div>
        </div>
    </div>