<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where Am I</title>

    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/navbar.css"> 
    <link rel="stylesheet" href="/css/whereami.css"> 
</head>
<body>
    
    <%- include('../partials/navbar') %>
        
    <div class="row justify-content-center mb-5">
        <div class="col-lg-8 text-center">
            <h1 class="display-4 fw-bold mb-3">
                Tam Olarak Size Bu Kadar <span class="gradient-text">Uzaklıktayım.</span>
            </h1>
        </div>
    </div>

    <div class="map-container">
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d771.5340412605378!2d36.32758509765339!3d41.281010138661756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x408877d03a87d5f7%3A0x445e38f7ad8cc57e!2sSamsun%20%C4%B0lkadim%20Belediyesi%20Muhsin%20Yazicio%C4%9Flu%20K%C3%BClt%C3%BCr%20Parki!5e0!3m2!1str!2str!4v1764254036295!5m2!1str!2str"
            width="700" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade" 
            class="map">
        </iframe>
    </div>
</body>
</html>